@using Microsoft.AspNetCore.Mvc.Localization
@using PLUG.OrganizationManager.Localization
@inject IHtmlLocalizer<OrganizationManagerResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
